<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
img.middle { vertical-align: middle; }

</style>
</head>
<body>

<img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/22/South_Korea_national_football_team_logo.svg/1200px-South_Korea_national_football_team_logo.svg.png" alt="Smiley face" style="float:left;width:60px;height:93px;">


<h2>한국대학교 : [김정환]의 과제 제출 현황</h2>

<p><br></p>

<table>
  <tr>
    <th>과제명</th>
    <th>과제 제출 날짜</th>
    <th>과제 제출 시간</th>
    <th>과제 제출 여부</th>
    <th>It's me 포인트 적립</th>

  </tr>
  <tr>

    <td>공학수학(2) - 보고서</td>
    <td>2020-12-11</td>
    <td>09:00:00</td>
    <td> 제출 </td>

    <td>
        <form action = "#" method="post" >
        <input type="submit" value="포인트 적립" name="Addpoint" onclick="(function(){alert('It\'s me 포인트가 적립 되었습니다.');})();"/>
        </form>
    </td>
  </tr>
  <tr>
    <td>자료구조 - 레드-블랙 트리 구현</td>
    <td>2020-12-10</td>
    <td>10:00:00</td>
    <td> 제출 </td>
    <td>
        <form action = "#" method="post" >
        <input type="submit" value="포인트 적립" name="Addpoint" onclick="(function(){alert('It\'s me 포인트가 적립 되었습니다.');})();"/>
        </form>
    </td>
  </tr>
  <tr>
    <td>회귀분석 - 활용 사례 보고서</td>
    <td>2020-12-10</td>
    <td>13:00:00</td>
    <td> 제출 </td>
    <td>
        <form action = "#" method="post" >
        <input type="submit" value="포인트 적립" name="Addpoint" onclick="(function(){alert('It\'s me 포인트가 적립 되었습니다.');})();"/>
        </form>
    </td>
  </tr>
  <tr>
    <td>운영체제 - Dining Philosophers</td>
    <td>2020-12-09</td>
    <td>15:00:00</td>
    <td> 제출  </td>
    <td>
        <form action = "#" method="post" >
        <input type="submit" value="포인트 적립" name="Addpoint" onclick="(function(){alert('It\'s me 포인트가 적립 되었습니다.');})();"/>
        </form>
    </td>
  </tr>
  <tr>
    <td>인공지능 - 자율주제 보고서</td>
    <td>2020-12-09</td>
    <td>09:00:00</td>
    <td> <font color = "red"> 미제출 </font> </td>
    <td> <font color = "red"> 포인트 적립 불가 </font></td>
  </tr>

</table>

</body>
</html>

